.container-home {
    .background-img-home {
        padding-bottom: 100px;

        img {
            height: 120vh;
            width: 100vw;
            object-fit: cover;
        }

        .text-link-home {
            display: flex;
            flex-direction: column;
            padding: 10px;
            align-items: center;
            position: absolute;
            top: 282px;
            left: calc(50% - 250px);
            color: white;

            p {
                font-size: 3.73rem;
                font-weight: 500;
                cursor: pointer;
            }
        }
    }

    .body-home {
        display: flex;
        flex-direction: column;
        gap: 150px;

        .box-body-home-first {
            display: flex;
            gap: 100px;

            img {
                border-top-right-radius: 99999px;
                border-bottom-right-radius: 99999px;
                height: 600px;
                width: 700px;
                object-fit: cover;
            }

            .text-body-home-first {
                display: flex;
                flex-direction: column;
                padding: 50px 10px 0px 10px;
                width: 460px;
                gap: 25px;

                .text-home-first {
                    font-size: 2.2rem;
                    font-weight: 500;
                }

                .text-home-second {
                    font-size: 1rem;
                    font-weight: 500;
                    color: #6e6e73;
                }

                .text-home-threed {
                    cursor: pointer;
                    width: fit-content;
                    border-radius: 9999px;
                    font-size: 1.1rem;
                    font-weight: 450;
                    color: #0084ff;
                    background-color: rgb(230, 242, 255);
                    padding: 20px;
                }

                .text-home-threed:hover {
                    transition-duration: 1s;
                    width: fit-content;
                    border-radius: 9999px;
                    font-size: 1.1rem;
                    font-weight: 450;
                    color: white;
                    background-color: #0085FF;
                    padding: 20px;
                }

            }
        }

        .box-body-home-second {
            padding: 0px 10px 10px 10px;

            .body-home-second {
                flex-direction: column;
                gap: 50px;

                .title-body-home-second {
                    text-align: center;
                    font-size: 2.2rem;
                    font-weight: 500;
                    line-height: 1.46rem;
                }

                .img-body-home-second {
                    justify-content: space-around;
                    padding: 0px 50px;

                    .flex-body-home-second {
                        display: flex;
                        flex-direction: column;
                        gap: 15px;

                        .img-home-second {
                            height: 300px;
                            width: 300px;
                            border-radius: 50px;
                        }

                        .flex-body-title-price {
                            flex-direction: column;
                            align-items: center;

                            .title-price-home {
                                p {
                                    color: #000;
                                    font-weight: 600;
                                }
                            }

                            .rating-price-home {
                                display: flex;
                                align-items: center;
                                gap: 10px;

                                .star-rating-home {
                                    display: flex;

                                    img {
                                        height: 1rem;
                                        width: 1rem;
                                    }
                                }

                                p {
                                    font-weight: 500;
                                    font-size: 1rem;
                                    color: #000;
                                }
                            }
                        }
                    }
                }
            }
        }

        .box-body-home-threed {
            display: flex;
            gap: 100px;
            justify-content: flex-end;

            .text-body-home-threed {
                display: flex;
                flex-direction: column;
                padding: 50px 0px 0px 100px;
                width: 550px;
                gap: 25px;

                .text-home-one {
                    font-size: 2.2rem;
                    font-weight: 500;
                }

                .text-home-two {
                    font-size: 1rem;
                    font-weight: 500;
                    color: #6e6e73;
                }

                .text-home-three {
                    cursor: pointer;
                    width: fit-content;
                    border-radius: 9999px;
                    font-size: 1.1rem;
                    font-weight: 450;
                    color: white;
                    background-color: #0085FF;
                    padding: 20px;
                }

                .text-home-three:hover {
                    transition-duration: 1s;
                    width: fit-content;
                    border-radius: 9999px;
                    font-size: 1.1rem;
                    font-weight: 450;
                    color: #0084ff;
                    background-color: rgb(230, 242, 255);
                    padding: 20px;
                }

            }

            img {
                height: 600px;
                width: 700px;
                object-fit: cover;
                border-top-left-radius: 99999px;
                border-bottom-left-radius: 99999px;
            }
        }

        // .box-body-home-fourth {
        //     display: flex;
        //     flex-direction: column;
        //     gap: 100px;

        //     .flex-body-fourth-top {
        //         border: 1px solid black;
        //         display: flex;
        //         gap: 20px;
        //         width: 100vw;
        //         overflow-x: scroll;

        //         .body-fourth-top {
        //             display: flex;
        //             gap: 10px;

        //             img {
        //                 width: 200px;
        //                 height: 200px;
        //                 object-fit: cover;
        //             }
        //         }
        //     }
        // }
        .box-body-home-five {
            display: flex;
            gap: 100px;

            img {
                border-top-right-radius: 99999px;
                border-bottom-right-radius: 99999px;
                height: 600px;
                width: 700px;
                object-fit: cover;
            }

            .text-body-home-five {
                display: flex;
                flex-direction: column;
                padding: 50px 10px 0px 10px;
                width: 460px;
                gap: 25px;

                .text-home-first {
                    font-size: 2.2rem;
                    font-weight: 500;
                }

                .text-home-second {
                    font-size: 1rem;
                    font-weight: 500;
                    color: #6e6e73;
                }

                .text-home-threed {
                    cursor: pointer;
                    width: fit-content;
                    border-radius: 9999px;
                    font-size: 1.1rem;
                    font-weight: 450;
                    color: #0084ff;
                    background-color: rgb(230, 242, 255);
                    padding: 20px;
                }

                .text-home-threed:hover {
                    transition-duration: 1s;
                    width: fit-content;
                    border-radius: 9999px;
                    font-size: 1.1rem;
                    font-weight: 450;
                    color: white;
                    background-color: #0085FF;
                    padding: 20px;
                }
            }
        }
    }

    .footer-home {
        display: flex;
        flex-direction: column;
        gap: 150px;
        padding: 150px 0px;

        .box-footer-home-first {
            display: flex;
            flex-direction: column;
            gap: 100px;

            .footer-home-top-first {
                justify-content: space-around;
                padding: 0px 255px;

                img {
                    height: 80px;
                    width: 75px;
                }
            }

            .footer-home-body-first {
                justify-content: space-between;
                padding: 0px 150px;
                align-items: center;

                img {
                    height: 70px;
                    width: 65px;
                }

                .text-footer-first {
                    text-align: center;
                    font-size: 3.70rem;
                    font-weight: 500;
                    line-height: 1.4;
                }
            }

            .footer-home-bottom-first {
                justify-content: space-around;
                padding: 0px 255px;

                img {
                    height: 80px;
                    width: 75px;
                }
            }
        }

        .box-footer-home-second {
            display: flex;
            justify-content: center;

            .footer-home-second-one:hover {
                transition-duration: 0.5s;
                background-color: #F0F8FF;
            }

            .footer-home-second-one {
                flex-direction: column;
                width: 380px;
                height: 500px;

                align-items: center;
                padding: 100px 50px 0px 50px;
                border-radius: 100%;



                .img-footer-home-second {
                    img {
                        width: 200px;
                        height: 200px;
                        object-fit: contain;
                    }
                }

                .text-footer-home-second {
                    align-items: center;
                    text-align: center;
                    flex-direction: column;

                    .title-text-footer-second {
                        font-size: 2rem;
                        font-weight: 500;
                        list-style: 1.4rem;
                    }

                    .text-footer-second {
                        color: #6e6e73;
                        font-size: 1rem;
                        font-weight: 500;
                    }
                }
            }

            .footer-home-second-two:hover {
                transition-duration: 0.5s;
                background-color: #FFF0F5;
            }

            .footer-home-second-two {
                flex-direction: column;
                width: 380px;
                height: 500px;

                align-items: center;
                padding: 100px 50px 0px 50px;
                border-radius: 100%;



                .img-footer-home-second {
                    img {
                        width: 200px;
                        height: 200px;
                        object-fit: contain;
                    }
                }

                .text-footer-home-second {
                    align-items: center;
                    text-align: center;
                    flex-direction: column;

                    .title-text-footer-second {
                        font-size: 2rem;
                        font-weight: 500;
                        list-style: 1.4rem;
                    }

                    .text-footer-second {
                        color: #6e6e73;
                        font-size: 1rem;
                        font-weight: 500;
                    }
                }
            }

            .footer-home-second-three:hover {
                transition-duration: 0.5s;
                background-color: #F6F0FF;
            }



            .footer-home-second-three {
                flex-direction: column;
                width: 380px;
                height: 500px;
                align-items: center;
                padding: 100px 50px 0px 50px;
                border-radius: 100%;



                .img-footer-home-second {
                    img {
                        width: 200px;
                        height: 200px;
                        object-fit: contain;
                    }
                }


                .text-footer-home-second {
                    align-items: center;
                    text-align: center;
                    flex-direction: column;

                    .title-text-footer-second {
                        font-size: 2rem;
                        font-weight: 500;
                        list-style: 1.4rem;
                    }

                    .text-footer-second {
                        color: #6e6e73;
                        font-size: 1rem;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}